# This file can update the JupyterHub Helm chart's default configuration values.
#
# For reference see the configuration reference and default values, but make
# sure to refer to the Helm chart version of interest to you!
#
# Introduction to YAML:     https://www.youtube.com/watch?v=cdLNKUoMc6c
# Chart config reference:   https://zero-to-jupyterhub.readthedocs.io/en/stable/resources/reference.html
# Chart default values:     https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/HEAD/jupyterhub/values.yaml
# Available chart versions: https://jupyterhub.github.io/helm-chart/
#
# Google is not currently supported
hub:
  config:
    JupyterHub:
{% if JH_AUTH_CLASS != "default" %}
      authenticator_class: {{ JH_AUTH_CLASS }}
{% endif %}
    Authenticator:
{% if JH_ADMINS is defined %}
       admin_users:
{% for user in JH_ADMINS %}
       - {{ user }}
{% endfor %}
{% endif %}
{% if JH_ALLOWED_USERS is defined %}
       allowed_users:
{% for user in JH_ALLOWED_USERS %}
       - {{ user }}
{% endfor %}
{% endif %}
{% if JH_AUTH_CLASS == "github" %}
    GitHubOAuthenticator:
      client_id: {{ JH_OAUTH2_CLIENT_ID }}
      client_secret: {{ JH_OAUTH2_CLIENT_SECRET }}
      oauth_callback_url: {{ JH_OAUTH2_CALLBACK_URL }}
{% elif JH_AUTH_CLASS == "dummy" %}
    DummyAuthenticator:
      password: {{ JH_DUMMY_PASS }}
{% else %}
{% endif %}
singleuser:
  defaultUrl: "{{ JH_SINGLEUSER_DEFAULT_URL }}"
  image:
    name: {{ JH_SINGLEUSER_IMAGE }}
    tag:  {{ JH_SINGLEUSER_IMAGE_TAG }}
{% if JH_SINGLEUSER_GPU_ENABLE is defined and JH_SINGLEUSER_GPU_ENABLE|bool %}
  profileList:
    - display_name: "GPU Server"
      description: "Spawns a notebook server with access to a GPU"
      kubespawner_override:
        extra_resource_limits:
          nvidia.com/gpu: "1"
{% endif %}