c.JupyterHub.authenticator_class = 'jhub_remote_user_authenticator.remote_user_auth.RemoteUserAuthenticator'
c.JupyterHub.extra_log_file = '{{ jupyterhub_log }}'
c.JupyterHub.hub_ip = '{{ jupyterhub_dockerhost_ip }}'
c.JupyterHub.ip = '0.0.0.0'
c.JupyterHub.proxy_api_ip = '{{ jupyterhub_dockerhost_ip }}'
c.JupyterHub.spawner_class = 'dockerspawner.DockerSpawner'
c.Spawner.debug = True
c.Spawner.mem_limit = '2G'
c.DockerSpawner.hub_ip_connect = '{{ jupyterhub_dockerhost_ip }}'
c.DockerSpawner.image = '{{ jupyterhub_docker_image }}'

# This line will setup no admins
#c.Authenticator.admin_users = set()
# This line will setup two admins, edwins and nirav
#c.Authenticator.admin_users = {'edwins','nirav'}
c.Authenticator.admin_users = {{ jupyterhub_config_admin_users }}
