[Unit]
Description=Jupyterhub
After={{ jupyterhub_systemd_after }}

[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub --config={{ jupyterhub_system_config }}/jupyterhub_config.py
WorkingDirectory={{ jupyterhub_system_config }}

[Install]
Wanted=multi-user.target
